@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #522D61;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
}

nav .logo {
    color: #fff;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
 
nav ul li {
  margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    color: #111;
    background: #fff;
}

nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
  nav{
    padding: 0 30px ;
  }

  .card_info {
      display: flex;
      flex-direction: column;
  }

  .card_info p {
      text-align: center;
  }
}


.active-1 {
    width: 120px;
    color: 
    #5BDBF0;
}

.active-2 {
    color: 
    #BAF3F9
    ;
}


.img-1 {
    
    background-image: url(./assets/pexels-it-services-eu-7639373.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    padding: 150px 0;
    
    
}

.texto-1 {
    width: 80%;
    color: white;
    background-color: #2d3661d0;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    padding: 40px;
    
}
*{
    font-family: 'Poppins', sans-serif;
}
.tema-1 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}
.img-tema-1 {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.img-tema-1 img {
    width: 80%;
    border-radius: 20px;

}

.texto-tema-1 {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 500;
    font-size: 22px;

}
.texto-tema-1 h1 {
    margin-bottom: 30px;
    font-size: 30px;
}
@media (max-width: 900px) {
    .texto-1 {
        font-size: 20px;
    }
    .texto-tema-1 {
        font-size: 15px;
    }
    .img-tema-1 {
        width: 300px;
    }
}

@media (max-width: 700px) {
    .tema-1 {
        grid-template-columns: 1fr;
    }
}



